<div class="dropdown-menu mega-menu" role="menu">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">In-Home Test Kit</h6>
                        <p class="mega-menu-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            quidem nobis sequi adipisci beatae possimus hic odio culpa qui delectus!
                        </p>
                </a>
            </div>

            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">Locate Vaccination Centres</h6>
                        <p class="mega-menu-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            quidem nobis sequi adipisci beatae possimus hic odio culpa qui delectus!
                        </p>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">Coronavirus Updates</h6>
                        <p class="mega-menu-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            quidem nobis sequi adipisci beatae possimus hic odio culpa qui delectus!
                        </p>
                </a>
            </div>

            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">In-Clinic Testing</h6>
                        <p class="mega-menu-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            quidem nobis sequi adipisci beatae possimus hic odio culpa qui delectus!
                        </p>
                </a>
            </div>
        </div>
    </div>
</div>