<div class="d-flex flex-column">
    <div id="footer-top">
        <div class="container">
            <div class="col-md-6">
                <img id="footer-top-icon-tag" class="footer-icon-tag" src="/images/icons/BGPattern.png" alt="">
                <h2>
                    Duis aute irure dolorin, reprehenderit
                </h2>
            </div>
        </div>
    </div>
    <div id="footer-middle" class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <ul>
                    <li>
                        <p>SERVICES</p>
                    </li>
                    <li><a href="Online_Consultation_page"> Online Consultation</a></li>
                    <li><a href="Scylab">ScyLab</a></li>
                    <li><a href="ScyMed_page">ScyMed</a></li>
                    <li><a href="Continuous_Monitoring_page"> Continuous Monitoring</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <ul>
                    <li>
                        <p>COMPANY</p>
                    </li>
                    <li><a href="AboutUs">About Us</a></li>
                    <li><a target="_blank" href="https://careers.scycare.com">Careers</a></li>
                    <li><a href="Partnership_page">Partner with Us</a></li>
                    <li><a target="_blank" href="https://blogs.scycare.com">Blogs</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <ul>
                    <li>
                        <p>POLICIES</p>
                    </li>
                    <li><a href="TermsAndCondition">Terms and Conditions</a></li>
                    <li><a href="privacy">Privacy Policy</a></li>
                    <li><a href="VulnerabilityDisclosurePolicy">Vulnerability Disclosure Policy</a></li>
                    <li><a href="CustomerSupportPolicy">Customer Support Policy</a></li>
                    <li><a href="Regulations">Regulations </a></li>
                    <li><a href="ReturnPolicy">Return Policy </a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <ul>
                    <li>
                        <p>GET IN TOUCH</p>
                    </li>
                    <li><a target="_blank" href="ContactUs">Contact Support</a></li>
                    <li><a target="_blank" href="frequentlyaskedquestions">FAQs</a></li>
                    <li><a target="_blank" href="https://web.facebook.com/scycare1/">Facebook</a></li>
                    <li><a target="_blank" href="https://twitter.com/scycare">Twitter</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/scycare/">Instagram</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/scycare">LinkedIn</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCFo_MHVelQQ9CAGgGXGmjJg">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer-copyright" class="">
        <div class="container">
            <img id="copyright-icon-tag" class="footer-icon-tag" src="/images/icons/BGPattern.png" alt="">
            <a>
                Scycare &copy; @DateTime.Now.Year All Rights Reserved
            </a>
        </div>
    </div>
</div>