<section id="hero">
    <div class="container">
        <div id="hero-text" class="col-lg-8">
            <h1>
                Quality <span class="highlight">Healthcare</span> at the comfort of your home.
            </h1>
            <a class="lead">Hassle-free healthcare delivery</a>
        </div>
        <button href="#" class="ml-3 btn sc-bg-secondary">
            Learn More
            <span>
                <svg width="5" height="5">
                    <image href="/images/icons/arrow-right.svg" />
                </svg>
            </span>
        </button>
    </div>
</section>