<div class="dropdown-menu mega-menu" role="menu">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">Online Consultation</h6>
                        <p class="mega-menu-desc">With our readily available and specialist doctors, we provide you with
                            the best and professional healthcare delivery with zero stress.
                        </p>
                </a>
            </div>

            <div class="col-6">
                <a class="mega-menu-item" asp-area="" asp-page="/ScyLab">
                    <h5 class="mega-menu-title">ScyLab</h6>
                        <p class="mega-menu-desc">Tadipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </p>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">ScyMed</h6>
                        <p class="mega-menu-desc">Tadipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        </p>
                </a>
            </div>

            <div class="col-6">
                <a href="#" class="mega-menu-item">
                    <h5 class="mega-menu-title">Continuous Monitoring</h6>
                        <p class="mega-menu-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            quidem nobis sequi adipisci beatae possimus hic odio culpa qui delectus!
                        </p>
                </a>
            </div>
        </div>
    </div>
</div>