<div id="sign-up-menu" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">As a Patient</a>
    <a class="dropdown-item" asp-page="/DoctorsHomepage">As a Physician</a>
    <div class="dropdown-item dropdown-desc-txt">Have an account already?</div>
    <a class="dropdown-item" href="#">Login</a>
</div>