@page
@model Scycare.Web.Pages.AboutUsModel

@{
    ViewData["Title"] = "About Us";
}

<div class="hero">

    <p class="abt-text">About Us</p>

</div>
<section class="container Abt-container">

    <div class="row gx-4 d-flex justify-content-md-between ">

        <div class="col-6 text-primary">

            <p class="lead founded-text">FOUNDED IN 2021</p>
            <p class="lead O-story-text">Our Story</p>

            <p class="lorem-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
            in reprehenderit in voluptate velit esse cillum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.

            </p>

        </div>

        <div class="col-6 abt-img">
           <img src="~/images/Rectangle 40.png" />
             
        </div>

        <div class="col-6 mt-5 abt-img">
            <img src="~/images/Rectangle 40.png" />
        </div>

         <div class="col-6 mt-5 text-primary">

            <p class="lead founded-text">WHAT WE BELIEVE IN</p>
            <p class="lead O-story-text">Our Vision/Mission</p>

            <div>
                <p class=lorem-head>Our Vision</p>
                     <span class="lorem-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                        in reprehenderit in voluptate velit esse cillum.
                    </span>
            </div>
             <div>
                <p class=lorem-head>Our Mission</p>
                     <span class="lorem-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                        in reprehenderit in voluptate velit esse cillum.
                    </span>
            </div>
                 
     
        </div>

    </div>
</section>

