@page
@model Scycare.Web.Pages.FrequentlyAskedQuestionsModel

@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div id="frequently-asked-questions">
    <partial name= "_FrequentlyAskedPage" />
</div>
