@page
@model Scycare.Web.Pages.Partnership_pageModel
@{
    ViewData["Title"] = "Partnership_page";
}



<div class="hero">
    <div class="container">
        <div id="hero-text" class="col-lg-8">
            <h1>
                Remodeling <span class="highlight">the healthcare </span> delivery experience.
            </h1>
        </div>
    </div>

</div>
<div id="partnership-content">
    <div class="container">
        <div class="text1 text-lg-center d-flex">
            <h2 class=" text-center">
                <span class="sc-text-gray-3"> Scycare is ready to collaborate with
                you to deliver </span> <span class="sc-text-secondary">quality health care.</span>
            </h2>
        </div>
    </div>
    </div>
    <div class="container ">
        <div class="text-left d-flex">
            <h3 class="text3">What we do:</h3>
        </div>
        
        <div class="col-md-6" style="float:right; margin:0px">
                <img src="~/images/Rectangle 41.png" />
        </div>
        
    </div>

    <div class="container">
        <div class="text-left1 d-flex col-md-6 ">
            <div class="check">
                <img src="~/images/icons/check.svg" />
            </div>

            <p class="text4a">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                sed do eiusmod tempor incididunt
            </p>
        </div>
        <div class="text-left1 d-flex col-md-6">
            <div class="checka">
                <img src="~/images/icons/check.svg" />
            </div>

            <p class="text4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                sed do eiusmod tempor incididunt
            </p>
        </div>

        <div class="text-left1 d-flex col-md-6">
            <div class="checka">
                <img src="~/images/icons/check.svg" />
            </div>

            <p class="text4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                sed do eiusmod tempor incididunt
            </p>
        </div>
        <div class="text-left1 d-flex col-md-6">
            <div class="checka">
                <img src="~/images/icons/check.svg" />
            </div>

            <p class="text4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                sed do eiusmod tempor incididunt
            </p>
        </div>
        <div class="text-left1 d-flex col-md-6">
            <div class="checka">
                <img src="~/images/icons/check.svg" />
            </div>

            <p class="text4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                sed do eiusmod tempor incididunt
            </p>
        </div>

    </div>

    <div id="testimonials" class="partnership-text">
        <h3 class="become">Become our partner</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor </p>  
        <button class="btn sc-button sc-bg-secondary" onclick="window.location.href = '/ContactUs'">Contact us</button>
    </div>
           <div class="testimonial-section" >
       <h3 class="text3">Testimonials:</h3>

                <div class="owl-carousel owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage ">
                             
                            <div class="owl-item flex-container">
                           
                            <div class="col-md-6">
                              <div class="card d-flex">
                                  <div class="card-body">
                                      <h5 class="card-title">Stadtlohn Bezaleel Clinic</h5>
                                      <svg width="33" height="45" viewBox="0 0 33 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M15.8208 45C24.7671 45 31.831 37.7465 31.831 28.8002C31.831 19.8539 24.4834 12.6004 15.5371 12.6004C15.4476 12.6004 15.3126 12.6125 15.2231 12.614C18.7604 9.79725 23.2032 8.0999 28.0662 8.0999C30.3035 8.0999 32.104 6.28576 32.104 4.04995C32.104 1.81413 30.6645 -7.62939e-06 28.4272 -7.62939e-06C12.5474 0.00151062 0.000148773 12.9204 0.000148773 28.8002C0.000148773 28.8032 0.000148773 28.8062 0.000148773 28.8108C0.000148773 37.7526 6.87749 45 15.8208 45Z" fill="#656973" />
                                      </svg>
                                      <svg width="33" height="45" viewBox="0 0 33 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M15.8208 45C24.7671 45 31.831 37.7465 31.831 28.8002C31.831 19.8539 24.4834 12.6004 15.5371 12.6004C15.4476 12.6004 15.3126 12.6125 15.2231 12.614C18.7604 9.79725 23.2032 8.0999 28.0662 8.0999C30.3035 8.0999 32.104 6.28576 32.104 4.04995C32.104 1.81413 30.6645 -7.62939e-06 28.4272 -7.62939e-06C12.5474 0.00151062 0.000148773 12.9204 0.000148773 28.8002C0.000148773 28.8032 0.000148773 28.8062 0.000148773 28.8108C0.000148773 37.7526 6.87749 45 15.8208 45Z" fill="#656973" />
                                      </svg>
                                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                      <p class="card-text">
                                          Dr. Nettey
                                      </p>
                                      <span class="text7">Stadtlohn Bezaleel Clinic</span>

                                  </div>
                                 
                              </div>
                          </div>
                               <div class="col-md-6">
                              <div class="card d-flex">
                                  <div class="card-body">
                                      <h5 class="card-title">Stadtlohn Bezaleel Clinic</h5>
                                      <svg width="33" height="45" viewBox="0 0 33 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M15.8208 45C24.7671 45 31.831 37.7465 31.831 28.8002C31.831 19.8539 24.4834 12.6004 15.5371 12.6004C15.4476 12.6004 15.3126 12.6125 15.2231 12.614C18.7604 9.79725 23.2032 8.0999 28.0662 8.0999C30.3035 8.0999 32.104 6.28576 32.104 4.04995C32.104 1.81413 30.6645 -7.62939e-06 28.4272 -7.62939e-06C12.5474 0.00151062 0.000148773 12.9204 0.000148773 28.8002C0.000148773 28.8032 0.000148773 28.8062 0.000148773 28.8108C0.000148773 37.7526 6.87749 45 15.8208 45Z" fill="#656973" />
                                      </svg>
                                      <svg width="33" height="45" viewBox="0 0 33 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M15.8208 45C24.7671 45 31.831 37.7465 31.831 28.8002C31.831 19.8539 24.4834 12.6004 15.5371 12.6004C15.4476 12.6004 15.3126 12.6125 15.2231 12.614C18.7604 9.79725 23.2032 8.0999 28.0662 8.0999C30.3035 8.0999 32.104 6.28576 32.104 4.04995C32.104 1.81413 30.6645 -7.62939e-06 28.4272 -7.62939e-06C12.5474 0.00151062 0.000148773 12.9204 0.000148773 28.8002C0.000148773 28.8032 0.000148773 28.8062 0.000148773 28.8108C0.000148773 37.7526 6.87749 45 15.8208 45Z" fill="#656973" />
                                      </svg>
                                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                      <p class="card-text">
                                          Dr. Nettey
                                      </p>
                                      <span class="text7">Stadtlohn Bezaleel Clinic</span>

                                  </div>
                                 
                              </div>
                          </div>

                             <div class="owl-item flex-container">
                           
                               <div></div>
                               <div></div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
      
   </div>
        <div id="partners" class="main-section">
            <div class="row">
                <img src="./images/icons/MOH.svg" alt="">
                <img src="./images/icons/GHS.svg" alt="">
                <img src="./images/icons/HeFRA.svg" style="width: 250px;" alt="">
                <img src="./images/icons/MDC.svg" alt="">
                <img src="./images/icons/PC.svg" alt="">
            </div>
        </div>
       

<script>   
    // Carousel Auto-Cycle
        const slider = document.querySelector('.slider');
        var sectionIndex = 0;
        const leftArrow = document.querySelector('.left');
        const rightArrow = document.querySelector('.right');
        leftArrow.addEventListener('click',function() {
            sectionIndex = (sectionIndex > 0) ? sectionIndex - 1:0;
            slider.style.transform='translate(' +(sectionIndex)* -50 + '% )'; 
        });
         rightArrow.addEventListener('click',function() {
            sectionIndex = (sectionIndex < 2) ? sectionIndex + 1:2;
            slider.style.transform='translate(' +(sectionIndex)* -50 + '% )'; 
        });
</script>

