@page
@using Scycare.Web.Pages.Shared
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div id=privacy>
        <partial name="_PrivacyPolicyHero" /> 
        <partial name="_PrivacyPolicyContent"/> 
</div>