@page
@using Scycare.Web.Pages.Models
@model Scycare.Web.Pages.RegulationsModel
@{
}
@{
    var Regulations = new List<AccordionElement>{
        new AccordionElement
        {
            Title ="Medical and Pharmacy Council   ",
            Details =  "We reserve the right to modify this policy or its terms and conditions. By using the app and services, you agree to be bound by this policy. If you do not agree to abide with the terms of this policy, you are not authorized to access or use this app and its  services.",
        },
        new AccordionElement
        {
            Title ="Hefra",
            Details =   "When you send email or other communications to us, we may retain those communications in order to process your requests and improve the quality of our services.",
        },
        new AccordionElement
        {
            Title ="Ghana Health Service",
             Details ="Information such as creating entries, editing entries and uploading media to the App are collected automatically on our server when you access the App. As such, we may also request access to your device's camera in order for us to upload your media to the App. Any media uploaded , will be collected and stored on our servers. If you wish to change our access or permissions, you may do so in your device settings",
        },
        new AccordionElement
        {
            Title ="Ministry of Health",
            Details =   "We collect and store all personal information related to your profile, which you give us voluntarily upon sign-up on the App. These information including  your (name, email, phone number, passwords, credit cards or payment information) is held in strict confidence and will not be sold or rented to any third party, but will be used only for the purpose of providing services described in the App"
        }
    };
 }
<component type="typeof(Components.PrivacyHeroComponent)" param-H1='"Regulations"' render-mode="Static" />
    <section  class="container main-section">
        <div class="container" id="policy-header-note">
            <h2>Regulations ! awaiting Content !!!</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                </p>
                <component type="typeof(Components.AccordionComponent)" param-AccordionElements=@Regulations render-mode="Static" />
        </div>
    </section>