@page
@model Scycare.Web.Pages.ViewAllLabTestModel

@{
    ViewData["Title"] = "View All Lab Test";
}

<div id="frequently-asked-questions">
     <partial name="_ScylabHero" />
    <partial name= "_ViewAllLabTestPartial" />
</div>