<section class="hero" id="privacy-page-hero">
    <div class="container">
        <div id="hero-text" class="col">
            <h1>
                @H1
            </h1>
          </div>
    </div>
</section>
@code {
        [Parameter]
    public string H1 { get; set; }
}
